* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-bg-color: #292C35;
}

.dark-mode {
    background-color: var(--main-bg-color);
}

.dark-mode:hover {
    background-color: var(--main-bg-color);
}

body {
    background-image: url("../images/background.jpg");
}

.content {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 350px 0px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: var(--main-bg-color);
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: gray;
}

.container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px gray;
}

form {
    padding: 0px 30px;
}

.inputdate {
    color: #BEBEBE;
}

input:focus {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red;
}

label {
    float: left;
    font-size: 20px;
    color: #808080;
}

.erro {
    color: red;
    z-index: 50;
    padding-top: 100px;
}

.spacing {
    margin: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
@media screen and (min-width: 998px) {
    .container{
        width: 55vw;
    }
}