* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-bg-color: #292C35;
}

body {
    background-image: url("../images/background.jpg");
}

.content {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 30px;
}

form {
    padding: 0px 30px;
}

.dark-mode {
    background-color: var(--main-bg-color);
}

.dark-mode:hover {
    background-color: var(--main-bg-color);
}

.spacing {
    margin: 10px;
}

.container {
    width: 55vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px gray;
}

label {
    float: left;
    font-size: 20px;
    color: #808080;
}

.desktop {
    display: none;
}

.mobile {
    text-decoration: none;
    color: var(--main-bg-color);
    margin-top: -3px;
}

input:focus {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red;
}

.erro {
    color: red;
    z-index: 50;
    padding-top: 100px;
}

@media screen and (min-width: 998px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    .flex {
        display: flex;
        justify-content: center;
    }
}